@import "../../styles/button";

@include buttonStyles();

.courses-panel {
  max-width: 400px;
  margin: 0 auto;
}

button {
  margin-right: 10px;
}

// ::ng-deep{
//   .mat-mdc-tab-group{
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     flex-wrap: wrap;
//   }
// }

